$bg-primary: #BFCFE7
$temp: #ff00ea
  
body
  background-color: $bg-primary

.navbar
  .top
    background-color: $temp
    display: flex
    justify-content: space-between
    .nav
      display: flex
      list-style: none